export JAVA_HOME=/app/jdk1.8.0_121
export ORACLE_HOME="/app/oracle/client"
export PATH=$JAVA_HOME/bin:$ORACLE_HOME/bin:$PATH
export LD_LIBRARY_PATH=$$ORACLE_HOME/lib:$LD_LIBRARY_PATH
export CLASSPATH=$JAVA_HOME/lib
export NLS_LANG=AMERICAN_AMERICA.UTF8
